/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f0f4ff;
  color: #333;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a78;
  padding: 10px 20px;
  border-bottom: 4px solid #3a69b7;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 1;
}

.program-name {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  flex: 1;
}

.username {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 50px;
}

.icon {
  margin-right: 8px;
}

.menu {
  background-color: #2c5282;
  width: 250px;
  height: calc(100vh - 80px); /* Ajuste la altura del menú al 100% del viewport menos la altura de la cabecera */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alineación del contenido del menú al principio */
  position: fixed;
  top: 104px; /* Movemos el menú 104px abajo del borde inferior del encabezado */
  bottom: 0; /* Aseguramos que el menú llegue hasta la parte inferior de la pantalla */
  z-index: 1;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.logout {
  padding: 15px 10px;
}

.logout-button {
  background-color: #3a69b7;
  color: #fff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #2c5282;
  transform: scale(1.05);
}

.content {
  margin-left: 260px;
  margin-top: 10px; /* Igual que el margen inferior del header */
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #3a69b7;
  height: calc(94vh - 114px); /* Ajustamos para que sea del mismo tamaño que el menú */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inner-content {
  width: 100%;
  height: calc(100vh - 104px); /* Altura total menos la altura del header y menu ajustados */
  padding: 0px 0px 0px 0px; /* Bajamos la distancia superior a 10px */
  background-color: #f0f4ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


#module-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  overflow: hidden;
  background-color: #f0f4ff; /* Asegura el mismo fondo que inner-content */
  border-radius: 8px; /* Coincide con el borde redondeado de inner-content */
}


#module-view img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
