/* gestion.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e2e2e2;
  }
  
  .inner-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 1.1rem;
    color: #444;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
  }
  
  .form-group input[readonly] {
    background-color: #f0f0f0;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #ffffff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #editButton {
    background-color: #007bff;
    color: white;
  }
  
  #saveButton {
    background-color: #28a745;
    color: white;
    display: none;
  }
  
  button:hover {
    opacity: 0.9;
  }
  